#popups{
    position: fixed;
    inset: 0;
    z-index: 1035;
    pointer-events: none;
    transition: all 0.25s;
}
#popups ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 0.5rem;
}
#popups .alert{
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    display: inline-flex;
    gap: 0.5rem;
    color: black;
    pointer-events: all;
    animation: fade 6s;
    opacity: 0;
    margin: 0 0
}
#popups .alert>*{
    pointer-events: none
}
.alert i{
    align-self: flex-start;
}
.alert .fa-xmark{
    visibility: hidden;
}
.alert:hover .fa-xmark{
    visibility: visible
}
@keyframes fade {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 0;
    }
}
