:root{
    --main: #8be8ff;
    --main_dark: #449eb5;
    --main_light: #d3f6ff;

    --alt: #fff5bd;
    --alt_dark: #e0d38b;

    --alt2: #2f4472;
    --alt2_dark: #1c2538;
    --alt2_light: rgb(128, 157, 219);

    --cyan_light: #00f3ff;
    --green_light: #58D68D;
    --green_dark: #36ae68;
    --purple_light: #da46ff;
    --yellow_bright: yellow;
    --red_light: #f27474;
    --red_dark: #ca4f4f;

    --bg_gray_office: #8e8e8e;
    --bg_gray_office_hover: #505050;
    --bg_blue_office: #494ecd;
    --bg_blue_office_hover: #3f4299;

    --black: rgb(29, 29, 29);
    --gray: rgb(46, 43, 52);
    --white: rgb(245, 245, 245);

    --gray_light: rgb(104, 104, 104);
    --gray_opacity: rgba(109, 105, 119, 0.5);
    --black_opacity: rgba(29, 29, 29, 0.75);
    --main_dark_bg_color: #1e222b;
    --hover_gray: rgba(80, 80, 80, 0.45);
}
body{
    background: var(--main_dark_bg_color);
}
*{
    color: var(--white);
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-family: 'Montserrat';
}
main{
    overflow-x: hidden;
    /* min-height: 100svh; */
}
main a{
    padding-inline: 0.5rem;
    border-bottom: 1px rgb(255, 255, 255) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: max-content;
}
main a:hover{
    background-color: var(--hover_gray);
}
main>*{
    font-family: 'Quicksand';
}
.flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-brand{
    letter-spacing: 0.05rem;
}
img{
    width: 100%;
}
h1, h2, h3, h4, h5, p{ margin: 0; }
h1{
    font-family: 'Quicksand';
    font-size: 4rem;
    letter-spacing: 0.2rem;
}
h2{
    font-family: 'Montserrat';
    font-size: 2.25rem;
    letter-spacing: 0.2rem;
}
h3{
    font-family: 'Lato';
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
}
h4{
    font-family: 'Lato';
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
}
h5{
    font-family: 'Lato';
    font-size: 1.25rem;
}
p{
    font-family: 'Montserrat';
    font-size: 1.25rem;
    letter-spacing: 0rem;
}
ul,li{ margin: 0 0; list-style-type: none;}
select, option{
    color: black;
}
.black{
    color: var(--black);
    fill: var(--black);
}
.white{
    color: white;
    fill: white;
}
.brand_svg{
    width: 2rem;
}
i{
    width: 1.5rem;
    font-size: 1.5rem;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: inherit;
}
fieldset{
    border: 2px solid var(--gray_light);
    padding: 1rem;
}
.small_i{
    width: 1rem;
    font-size: 1rem; }
.medium_i{
    width: 2rem;
    font-size: 2rem; }
.big_i{
    width: 2.5rem;
    font-size: 2.5rem; }
.small, small {
    font-size: 1em;
}
/* fonts start */
.raleway{
    font-family: 'Raleway';
}
.sans{
    font-family: sans-serif;
}
.open-sans{
    font-family: 'Open Sans';
}
.lato{
    font-family: 'Lato';
}
.montserrat{
    font-family: 'Montserrat';
}
/* fonts end */

/* font-sizes start */
.bold{
    font-weight: 700;
}
.semibold{
    font-weight: 600;
}
.medium{
    font-weight: 500;
}
.regular{
    font-weight: 400;
}
.light{
    font-weight: 300;
}
.extralight{
    font-weight: 200;
}
/* font-sizes end */

.translucent, .translucent>*{
    position: relative;
}

.translucent::before{
    position: absolute;
    content: '';
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    opacity: 0.65;
}

/* brand anchor start*/
.brand_anchor{
    font-family: 'Quicksand';
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.2rem;
    transition: all 0.5s;
}
.brand_anchor>span{
    position: relative;
}
.brand_anchor:hover{
    transform: scale(1.05);
}
.brand_anchor>svg{
    transition: all 5s;
}
.brand_anchor:hover>svg{
    transform: rotate(90deg);
}
.brand_anchor:hover>span::after{
    left: 0;
    width: 100%;
}
/* brand anchor end*/


/* media queries */
/* pantallas mayores de 1921px */
@media screen and (min-width: 1921px) {
    :root {
        font-size: 16px;
    }
}

/* 1920px */
@media screen and (max-width: 1920px) {
    :root {
        font-size: 14px;
    }
}

/* xl */
@media screen and (max-width: 1400px) {
    :root {
        font-size: 14px;
    }
}

/* lg */
@media screen and (max-width: 1200px) {
    :root {
        font-size: 14px;
    }
}

/* md */
@media screen and (max-width: 992px) {
    :root {
        font-size: 14px;
    }

}

/* sm */
@media screen and (max-width: 768px ) {
    :root {
        font-size: 12px;
    }
    .places_card{
        min-height: 250px !important;
    }

}

.div{
    border-radius: 1rem;
    border-bottom: 0.3rem solid var(--alt_dark);
}
.div_light{
    border-radius: 1rem;
    border-bottom: 0.15rem solid var(--alt_dark);
}
.div_h{
    transform: translateY(-50%);
    border-bottom: 1px solid var(--alt_dark);
}
.div_v{
    translate: -50% 0;
    border-right: 1px solid var(--alt_dark);
    min-width: 3px;
}
.div_gray{
    border-color: gray;
}
/* xs */
@media screen and (max-width: 576px){
    :root {
        font-size: 12px;
    }
}

/* generic bgs */
.bg_main {
    background-color: var(--main);
}
.bg_main_dark {
    background-color: var(--main_dark);
}
.bg_main_light{
    background-color: var(--main_light);
}
.bg_alt {
    background-color: var(--alt);
}
.bg_alt_dark {
    background-color: var(--alt_dark);
}
.bg_black {
    background-color: var(--black);
}
.bg_gray{
    background-color: var(--gray);
}
.bg_mint {
    background-color: var(--mint);
}

.bg_gradient_black{
    background: rgb(29, 29, 29);
    background: linear-gradient(180deg, rgb(29, 29, 29) 1%, rgba(0,212,255,0) 100%);
    color: white;
    transition: all 0.5s ease;
}
.bg_gradient_black_2{
    background: rgb(29, 29, 29);
    background: linear-gradient(0deg, rgb(29, 29, 29) 40%, rgba(29, 29, 29,0.5) 90%, rgba(29, 29, 29,0) 100%);
    color: white;
    transition: all 0.5s ease;
}
/* app button start */
.app_button{
    position: relative;

    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.05rem;

    border: 0;
    border-radius: 2rem;
    padding-inline: 1.5rem;
    padding-block: 0.3rem;
    color: black;
    isolation: isolate;
    overflow: hidden;
    background-color: var(--main);
    color: var(--black);

    transition: all 0.75s;
}
.app_button::after{
    content: '';
    position: absolute;
    inset: 100%;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;

    background-color: var(--main_dark);
    z-index: -1;
    transition: all 0.75s;
}
.app_button:hover{
    color: var(--white);
    background-color: var(--main_dark);
}
.app_button:hover::after{
    scale: 5;
}
/* app button end */

.app_bg{
    background: var(--alt2);
    box-shadow: 0 0 25px var(--alt2);
}

.app_border{
    border: 1px solid var(--alt_dark);
}
.app_border_top {
    border-top: 1px solid var(--alt_dark);
}
.app_border_bottom {
    border-bottom: 1px solid var(--alt_dark);
}
.app_border_left {
    border-left: 1px solid var(--alt_dark);
}
.app_border_right {
    border-right: 1px solid var(--alt_dark);
}
.border_gray{
    border: 1px solid gray;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: var(--black);
    color: var(--white);
    border: 1px solid gray;
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition: all 0.15s;
    max-height: 3rem;
}
.button.square{
    width: 2.5rem;
    height: 2.5rem;
}
.button>*{
    color: inherit;
}
.button>h5{
    margin: 0
}
.button:hover{
    background-color: var(--gray_opacity)
}
.button.info:hover{
    color: var(--cyan_light);
}
.button.red:hover{
    background-color: var(--black);
    color: red !important;
}
.wrapper{
    background-color: var(--black);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5), 0px 0px 20px rgba(0, 0, 0, 0.5);
    min-height: 600px;
    padding: 2rem;
    margin: 1rem;
    margin-top: 0;
}
.wrapper>.title{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--alt_dark);
}
.wrapper .text{
    display: flex;
    flex-direction: row;
    max-height: 3rem;
    align-items: center;
    gap: 0.5rem;
}
.wrapper .text h3{
    margin-left: 0.5rem;
}
.wrapper .text small{
    text-wrap: nowrap;
}
nav.buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    gap: 0.5rem;
    margin-left: 0.5rem;
}
nav.buttons>.button{
    border: 1px solid var(--gray_light) !important;
}
.profile_img img{
    aspect-ratio: 1;
}
.fa-spinner {
    visibility: hidden;
    animation: rotate 3s ease-in-out infinite;
}
@keyframes rotate {
    0% {
        rotate: 0
    }

    50% {
        rotate: 180deg
    }

    100% {
        rotate: 360deg
    }
}
/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--black)
}

/* Handle */
::-webkit-scrollbar-thumb {
    cursor: pointer;
    border: 2px solid var(--black);
    border-top: 2px solid var(--black);
    background: rgb(188, 188, 188);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(128, 128, 128);
}
