:root{
    --main: #8be8ff;
    --main_dark: #449eb5;
    --main_light: #d3f6ff;

    --alt: #fff5bd;
    --alt_dark: #e0d38b;

    --mint: #dbffdf;

    --black: rgb(29, 29, 29);
    --white: rgb(245, 245, 245);
}
.white{
    color: white;
}
*{
    font-family: 'QuickSand';
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.window{
    height: 100svh;
}
.navbar-brand{
    letter-spacing: 0.05rem;
}
main{
    overflow-x: hidden;
    /* background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(139,232,255,1) 50%, rgba(85,38,100,1) 100%); */
}
img{
    width: 100%;
}
h1{
    font-family: 'Quicksand';
    font-size: 4rem;
    letter-spacing: 0.2rem;
}
h2{
    font-family: 'Quicksand';
    font-size: 2.25rem;
    letter-spacing: 0.2rem;
    margin: 0;
}
h3{
    font-family: 'Quicksand';
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
    margin: 0;
}
p{
    font-family: 'Lato';
    font-size: 1.25rem;
    letter-spacing: 0rem;
    margin-bottom: 0;
}

i, .brand_svg{
    font-size: 1.5rem;
    width: 1.5rem;
}

.black{
    color: var(--black);
    fill: var(--black);
}
.white{
    color: white;
    fill: white;
}
.brand_svg{
    font-size: 2rem;
    width: 2rem;
}
.small_icon{
    font-size: 1rem;
    width: 1rem;
}
.big_icon{
    font-size: 2.5rem;
    width: 2.5rem;
}
/* fonts start */
.raleway{
    font-family: 'Raleway';
}
/* fonts end */

/* font-sizes start */
.bold{
    font-weight: 700;
}
.semibold{
    font-weight: 600;
}
.medium{
    font-weight: 500;
}
.regular{
    font-weight: 400;
}
.light{
    font-weight: 300;
}
.extralight{
    font-weight: 200;
}
/* font-sizes end */

.translucent, .translucent>*{
position: relative;
}

.translucent::before{
    position: absolute;
    content: '';
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    opacity: 0.5;
}

/* brand anchor start*/
.brand_anchor{
    font-family: 'Quicksand';
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.2rem;
    transition: all 0.5s;
}
.brand_anchor>span{
    position: relative;
}
.brand_anchor:hover{
    transform: scale(1.05);
}
.brand_anchor>svg{
    transition: all 5s;
}
.brand_anchor:hover>svg{
    transform: rotate(90deg);
}
.brand_anchor:hover>span::after{
    left: 0;
    width: 100%;
}
/* brand anchor end*/

/* media queries */
/* pantallas mayores de 1921px */
@media screen and (min-width: 1921px) {
    :root {
        font-size: 16px;
    }
}

/* 1920px */
@media screen and (max-width: 1920px) {
    :root {
        font-size: 14px;
    }
}

/* xl */
@media screen and (max-width: 1400px) {
    :root {
        font-size: 14px;
    }
}

/* lg */
@media screen and (max-width: 1200px) {
    :root {
        font-size: 14px;
    }
}

/* md */
@media screen and (max-width: 992px) {
    :root {
        font-size: 14px;
    }
}

/* sm */
@media screen and (max-width: 768px ) {
    :root {
        font-size: 12px;
    }
    .window{
        height: 50svh;
    }
    .places_card{
        min-height: 250px !important;
    }

}
.divider{
    border-radius: 1rem;
    border-bottom: 0.3rem solid var(--alt_dark);
}
/* xs */
@media screen and (max-width: 576px){
    :root {
        font-size: 12px;
    }
}

/* generic bgs */
.bg_main {
    background-color: var(--main);
}
.bg_main_dark {
    background-color: var(--main_dark);
}
.bg_main_light{
    background-color: var(--main_light);
}

.bg_alt {
    background-color: var(--alt);
}
.bg_alt_dark {
    background-color: var(--alt_dark);
}

.bg_mint {
    background-color: var(--mint);
}

.bg_black {
    background-color: var(--black);
}
.bg_gradient_black{
    background: rgb(29, 29, 29);
    background: linear-gradient(180deg, rgb(29, 29, 29) 1%, rgba(213, 213, 213, 0.45) 100%);
    color: white;
    transition: all 0.5s ease;
}

.bg_gradient_black_bot_top{
    position: relative;
    color: white;
}
.bg_gradient_black_bot_top::after{
    position: absolute;
    content: '';
    inset: 0;
    background: rgb(29, 29, 29);
    background: linear-gradient(0deg, rgb(29, 29, 29) 20%, rgba(0,212,255,0) 40%);
    color: white;
}

/* app button start */
.app_button{
    position: relative;

    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.05rem;

    border: 0;
    border-radius: 2rem;
    padding-inline: 1.5rem;
    padding-block: 0.3rem;
    color: black;
    isolation: isolate;
    overflow: hidden;
    background-color: var(--main);
    color: var(--black);


    transition: all 0.75s;
}
.app_button::after{
    content: '';
    position: absolute;
    inset: 100%;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;

    background-color: var(--main_dark);
    z-index: -1;
    transition: all 0.75s;
}
.app_button:hover{
    color: var(--white);
    background-color: var(--main_dark);
}
.app_button:hover::after{
    scale: 5;
}
/* app button end */

