.aligner {
    display: flex;
    justify-content: center;
    align-items: center
}
.aligner i {
    font-size: 1.25rem;
    width: 1.25rem;
}

.table_container {
    /* max-height: 80svh;
    overflow-y: scroll; */
}

.table_container table {
    width: 100%;
}

td button {
    background-color: transparent;
    border: none;
    padding: 0.5rem;
}

.red:hover {
    color: red;
}

.green:hover {
    color: var(--green_light);
}

.yellow {
    color: white;
}

.yellow:hover {
    color: var(--yellow_bright);
}

table {
    border: 1px solid var(--gray_light);
}
th, td {
    padding: 0.25rem 0.5rem !important;
    border: 1px solid var(--gray_light);
}
th.small{
    width: 0.2rem;
    padding: 0;
    white-space: nowrap;
}
th.medium{
    width: 5rem;
}
th i{
    font-size: 1.25rem;
    width: 1.25rem;
}
td img {
    width: 3rem;
}
td.number{
    font-family: 'Reddit Mono'
}
td.profile_img {
    padding: 0;
}
tbody>tr{
    cursor: pointer;
}

tbody>tr:hover {
    background-color: var(--gray_opacity);
}

tr[you] {
    border: 2px solid red;
}

tr[role="admin"] {
    border-left: 4px solid var(--green_light);
}

tr[role="owner"] {
    border-left: 4px solid var(--purple_light);
}

tr[active="false"] {
    position: relative;
}

tr[active="false"]::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--gray_opacity);
    pointer-events: none;
}

/* GENERIC ADMIN STYLES */
.dynamic-select{
    background-color: unset;
    border: 1px solid var(--gray_light);
    height: 3rem;
    justify-content: center;
    border-radius: 0.5rem;
}
.dynamic-select i{
    width: 1rem;
    font-size: 1rem;
}
.dynamic-selected, .dynamic-select-option, .dynamic-select-header-input input, .dynamic-select i{
    color: white !important;
    border: unset;
    background-color: unset;
}
.dynamic-select-header-input input:focus{
    outline: none !important;
}
.dynamic-select-options{
    background-color: var(--black) !important;
    border: 1px solid var(--gray_light);
}
.dynamic-select-option:hover{
    background-color: var(--gray_light) !important;
}

.dynamic_select_container{
    width: 200px;
}
input, textarea, select{
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 0.5rem;
    padding: 0.25rem 1rem;
    min-height: 2.5rem;
}
select{
    cursor: pointer;
    color: white;
    min-height: 3rem
}
/* input:focus{
    outline: none;
} */
.form_row{
    display: inline-flex;
    gap: 0.5rem;
}
.form_line{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
button[disabled]{
    opacity: 0.5;
    cursor: not-allowed;
}

