#modal_container{
    overflow: scroll;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    background-color: var(--black_opacity)
}
.modal{
    width: 80%;
    pointer-events: all;
    top: unset;
    left: unset;
    display: block;
    height: auto;
    margin-top: 1rem;
    scale: 0.3;
    opacity: 0.5;
    transition: all 0.25s;
    overflow: visible
}
.small_modal{
    width: 350px !important;
}
.scroll_modal{
    position: absolute;
    top: 5%;
}
.modal_content{
    width: 100%;
    background-color: var(--black);
    border: 1px solid gray;
    padding: 1rem;
}
.modal_tabs{
    display: flex;
    padding: 0;
    translate: 0 1px;
}
.modal_tabs li{
    padding: 0.25rem 1rem;
    border: 1px solid gray;
    background-color: var(--black);
    cursor: pointer;
    transition: all 0.5s;
}
.modal_tabs li:hover:not([fill]){
    background-color: var(--gray);
}
.modal_tabs li[active="true"]{
    border-bottom: none;
}
.modal_tabs li[fill]{
    border-top: none;
    border-right: none;
    background-color: transparent;
}

.modal_header{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--alt_dark);
}
.modal_header h4{
    align-self: flex-end;
}
.modal_icon:nth-child(1){
    font-size: 5rem;
}
.modal_options button{
    color: var(--white);
    font-size: 1.25rem;
    padding: 0.25rem 1.5rem;
    border-radius: 0.5rem;
}
.modal_options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
}
.modal_closer{
    border: none !important;
}
.modal_cancel{
    background-color: var(--red_light)
}
.modal_cancel:hover{
    background-color: var(--red_dark)
}
.modal_confirm{
    background-color: var(--green_light)
}
.modal_confirm:hover{
    background-color: var(--green_dark)
}
.modal_choice_1 {
    background-color: var(--bg_blue_office) !important; /* Color de fondo normal (gris claro) */
}
.modal_choice_1:hover {
    background-color: var(--bg_blue_office_hover) !important; /* Color de fondo al pasar el mouse (gris más oscuro) */
}
.modal_choice_2 {
    background-color: var(--bg_gray_office) !important; /* Color de fondo normal (gris muy claro) */
}
.modal_choice_2:hover {
    background-color: var(--bg_gray_office_hover) !important; /* Color de fondo al pasar el mouse (gris medio) */
}
.thumbnail_preview{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 18rem;
    border-radius: 0.5rem;
}
.thumbnail_preview label{
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.medias{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 0.5rem;
}
.media{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1;
    border-radius: 0.5rem;
    position: relative;
}
.media .delete_button{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}
.modal_tab_content{
    display: none;
}
